

.edit_cand{
	width: 100%; /* Largura de 100% do campo */
    padding: 30px; /* Altura de 12px*/
    margin: 8px 0; /* 8px de distância, 0 para alinhar */
    border: 2px solid #ccc; /* Borda do campo e cor da borda*/
    border-radius: 4px; /* Curva da borda */
    box-sizing: border-box; /* Adiciona as bordas em todos os lados*/
    font-family: verdana /* Estilo da fonte*/
}


/*Propriedades do botão EDITAR*/

.edit{
	float: right;
	margin: 3px;
	color: #F2FFF2;
}


/*propriedades do titulo perfil*/

.perfil{
	color: #ffffff;
	text-decoration: none;
	font-family : 'Oswald';
	text-align: center;
}


/* propriedades das informações adicionadas sobre o partido */

.info{
	float: left;
	margin : 0px 0px 30px -440px;
	font-size: 20px;
}

.site{
	text-decoration: none;
}


/*texto informativo abaixo do artigo sobre o partido*/
.extra{
	float: left;
	margin: 0px 0px 0px -500px;
}

/* propriedades do texto do partido em destaque */
.texto1{
	float: left; 
	margin: -130px 0 0 320px;
}





